.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;

    form {
        width: 70%;
    }

    fieldset, input {
        border: none;
        box-sizing: border-box;
        width: 100%;
    }

    input {
        border: 1px solid black;
        border-radius: 0px;
        height: 50px;
    }
    .avatar {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: lightgray;
    }
}

